

label {
    color: rgb(203, 203, 203);
}


/* Landing Page */

header {
    height: 45vh;
    min-height: 300px;
    padding-top: 6vh;
    display: flex;
    align-items: center;
}
header .logo {
    width: 20%;
    min-height: 240px;
    margin-left: auto;
    margin-right: auto;
}   

header img {
    width: 100%;
}



.description-container {
    height: 55vh;
    background: black;
    color: white;
    padding-top: 40px;
    min-height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.process {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 1200px;
}
.step-container {
    margin-bottom: -60px;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.step-box {
    width: 40px;
    height: 40px;
    background: black;
    border: 4px solid white;
}
.intro-text {
    width: 100%;
    padding-top: 80px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 40px;
    border-top: 2px solid white;
    max-width: 1600px;

}
.description-container .btn {
    width: 360px;
}
.description-container .btn:hover {
    background: #333;
    border: 2px solid white;
    color: white;
}

/* Color Entering Page */

.color-preview {
    height: 200px;
    width: 200px;
    border-radius: 16px;
    background: #eee;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}

#colorContainer {
    margin: 0 80px;
    padding: 40px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 12px;
}

#colorInput {
    margin-top: 10px;
    width: 200px;
    border: none;
}

.red-color {
    color: red;
}

#profileForm {
    height: 75vh;
    overflow-y: scroll;
    border: 1px solid #333;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 412px;
}
.help {
    color: gold;
}


#colorGrid {
    width: 100%;
}

.color-box {
    height: 40px; 
    width: 40px; 
    margin: 2px 4px; 
    padding:0;  
    display:inline-block; 
}


#control {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}


#control button {
    width: 80px;
    margin: 0 20px;
}
#control p {
    margin: 8px 20px;
}
#btnNext {
    height: 56px;
    font-size: 1.2em;
}



/* Prism Page */

.user-color-box {
    border: 2px solid rgb(0, 0, 0);
}

.shap-circle {
    border-radius: 20px;
}

.shap-sqaure {
    border-radius: 0;
}

#description {
    padding: 50px;
    position: fixed;
    top: 160px;
    width: 50%;
    left: 80px;
    max-width: 700px;
    min-width: 400px;
    background-color: rgb(69, 136, 11);
    border: 8px solid white;
    border-radius: 16px;
    box-shadow: 4px 4px 18px rgba(0,0,0,0.3);
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.66);
}



.navbar img {
    height: 46px;
}
.navbar a {
    color: #888;
}

.hide {
    display: none;
}
