body {
    padding: 80px;
}

.entry-container {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid rgb(196, 196, 196);
    width: 80%;
}
.color-box {
    height: 40px;
    width: 40px;
    margin-right: 20px;
}