:root {
    --side-width: 300px;
    --side-margin: 10px;
    --primary-yellow: #ffcc00;
    --primary-green: #006633;
}

body, main {
    margin: 0;
    padding: 0;
}

.cover-bg-dark {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.735);
    z-index: 999;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}
h2, h3, h4 {
    color: white;
    width: 100%;
    text-align: center;
}
nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px 5%;
    background: #006633;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}
nav .logo img{
    height: 28px;
}
.button-primary .fas {
    font-size: 1em;
}

header {
    position: fixed;
    top: 0;
    text-align: center;
    height: 54px;
    width: 100%;
    margin: 0;
    z-index:1000;
    background: white;
    padding-top: 12px;
}
header h1 {
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: 300;
}
header a {
    position: absolute;
    top: 0;
    right: 0;
    height: 54px;
    width: 140px;
    padding-top: 16px;
    background: #ffcc00;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
}

.socialbar {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
    background: white;
    padding: 10px 20px;
    border-radius: 12px;
    box-shadow: 4px 4px 16px rgba(0,0,0,0.15);
}
.social-media {
    display: flex;
    justify-content: space-between;
}
.social-media i {
    font-size: 2em;
    color: #006633;
}

aside {
    position: absolute;
    top: var(--side-margin);
    bottom: var(--side-margin);
    left: var(--side-margin);
    width: var(--side-width);
    background: rgba(255, 255, 255, 1);
    z-index: 100;
    border-radius: 10px;
    /* box-shadow: 4px 4px 16px rgba(0,0,0,0.15); */
    transition: 1s;
}


#btnToggle {
    position: absolute;
    right: -18px;
    top: calc(50% - 40px);
    background: #ffffff;
    height: 80px;
    width: 18px;
    border-radius: 0 6px 6px 0;
    padding-top: 28px;
    padding-left: 4px;
}

#btnToggle .fas{
    color: #000000;
}

#btnToggle:hover {
    cursor: pointer;
    background: #ffcc00;
}

.list-header {
    background: #ffcc00;
    border-radius: 10px 10px 0 0;
}

.header-title {
    height: 44px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    margin-bottom: 16px;
}
.header-title .title {
    width: 100%;
}
.header-title h4 {
    line-height: 32px;
    text-align: center;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
}

.header-title h4:hover {
    cursor: pointer;
}

.header-title .title-btn {
    margin: 0;
    height: 100%;
    width: 36px;
    background: var(--primary-yellow);
    border-radius: 0 10px 0 10px;
    text-align: center;
    line-height: 32px;
}

.list-body {
    position: relative;
    height: calc(100% - 72px);
}

.list-tabs {
    height: 32px;
    border-bottom: 1px solid rgb(210, 210, 210);
}
.list-tabs a {
    display: block;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    height: 32px;
    color: var(--primary-green);
}
.tab-name {
    position: absolute;
    font-size: 0.6em;
    text-align: center;
    top: -16px;
    opacity: 0;
    width: 33%;
}
.btn-tab:hover > .tab-name {
    opacity: 1;
}
ul {
    padding: 0;
    margin: 0;
}
.list-tabs li {
    width: 25%;
    float: left;
    list-style: none;
}
.list {
    height: calc(100% - 32px);
    background: rgb(255, 255, 255);
    padding-top: 1px;
    overflow-y: auto;
}
.ppl-card {
    display: flex;
    margin: 10px 10px 10px 10px;
    padding: 8px;
    border: 1px solid #d5d5d5;
    background: white;
    border-radius: 6px;
}

.ppl-card-title .ppl-name{
    font-weight: 700;
    margin-bottom: 4px;
}

.ppl-card-title a{
    font-size: 0.7em;
    padding: 2px 8px;
    height: 22px;
    background: #fff3c1;
    color: #cb9100;
    border-radius: 4px;
}
.ppl-card-title .title-link{
    display: flex;
    justify-content: space-between;
    width: 100%;
}






main h4 {
    color: black;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#RH_marker {
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #FFCC00;
    cursor: pointer;
    z-index: 0;
    transform: translateY(2px)
}
#RH_marker:after {
    content: '';
	position: absolute;
	bottom: 3px;
	left: 50%;
	width: 0;
	height: 0;
	border: 12px solid transparent;
	border-top-color: #FFCC00;
	border-bottom: 0;
	margin-left: -10px;
    margin-bottom: -14px;
}

.userMarker {
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #FFCC00;
    cursor: pointer;
    z-index: 0;
    /* mask-image: url(../../Backpack.svg);
    -webkit-mask-image: url(../../Backpack.svg);
    -webkit-mask-border: url(../../Backpack.svg) 27 / 4px stretch alpha;
    mask-border: url(../../Backpack.svg) 27 / 4px stretch alpha; */
}

.backpack {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../../Backpack.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    height: 600px;
    width: 720px;
    padding-top: 140px;
    padding-left: 190px;
    padding-right: 200px;
    z-index: 1000;
}
.btnClose {
    font-size: 1.5em;
    position: absolute;
    right: 40px;
    top: 40px;
    color: white;
}
.btnClose:hover {
    cursor: pointer;
    color: #ffcc00;
}
.backpack .pack-title {
    width: 100%;
    text-align: center;
} 
.pack-body {
    overflow: scroll;
    height: 420px;
}
.pack-body img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
}

.mapboxgl-popup-content {
    width: 360px;
    border-radius: 6px;
    background: #ffffff;
    padding: 20px;
    padding-top: 16px;
}
.mapboxgl-popup-content .mapboxgl-popup-close-button{
    z-index: 100;
    font-size: 2em;
    padding: 8px;
}

.about-user {
    margin-top: 8px;
    border-top: 1px solid rgb(213, 213, 213);
    padding-top: 6px;
    max-height: 240px;
    overflow: scroll;
}
.about-user img {
    width: 100%;
}

.splide {
    visibility: visible;
    height: 300px;
}
.splide__slide {
    padding-bottom: 20px;
}
.splide__pagination {
    margin-bottom: -50px;
}
.splide__slide h4 {
    font-size: 1.5em;
    font-weight: bold;
}

.slide-header{
    display: flex;
    padding: 0 20px 8px 0;
}
.slide-header-title {
    padding-top: 0;
}
.slide-header-title a {
    color: black;
}
.slide-header-title p {
    margin-bottom: 0;
}
.slide-header-title h4 {
    text-align: left;
}
.cover {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 10px;
}
.slide-body {
    background: white;
    padding: 0;
    height: 230px;
    overflow-y: auto;
    border-top: 1px solid #888;
    margin-top: 10px;
}

.slide-body img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.slide-body p {
    margin-top: 8px;
}

.sodaa-video {
    height: 200px;
}



.active {
    border-bottom: 4px solid #006633;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    margin-top: 8px;
}

/* Track */
::-webkit-scrollbar-track {
visibility: hidden;;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgba(0,0,0,0.15); 
border-radius: 10px;
}

  
 .hide {
     display: none;
 }
 
 .line-narrow {
     margin-bottom: 6px;
 }

 .icon-lead {
     display: inline-block;
     width: 13px;
     margin-right: 6px;
 }
 

@media screen and (max-width: 766px) {
    .backpack {
        position: absolute;
        top: 54px;
        left: 0;
        transform: translate(0, 0);
        background-image: none;
        width: 100%;
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
        z-index: 1000;
        margin-top: 0;
    }
    .btnClose {
        font-size: 1.2em;
        position: absolute;
        right: 16px;
        top: -42px;
        color: rgb(0, 0, 0);
    }
    .backpack .pack-title {
        width: 100%;
        text-align: center;
    } 
    .pack-body {
        overflow: scroll;
        height: calc(100vh - 84px);
        color: white;
    }
    header {
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        justify-content: space-between;
    }
    header h1 {
        text-align: left;
        font-size: 1.3em;
        max-width: calc(100% - 140px);
        overflow: hidden;
        white-space: nowrap;
    }
    
}